{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <th>Genus</th>
        <th># of species</th>
        <th>Last updated</th>
        </thead>
        <tbody>
        {% for genus in genuses %}
            <tr>
                <td>
                    <a href="{{ path('genus_show', {'genusname': genus.name}) }}">
                        {{ genus.name }}
                    </a>
                </td>
                <td>{{ genus.speciesCount }}</td>
                <td>{{ genus.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center col-sm-12">
        <a href="genus/new" class="btn btn-primary">ADD ENTRY</a>
    </div>
{% endblock %}